<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
<h1>About Page</h1>

<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About', about_path %></li>
  <li><%= link_to 'Blog', articles_path %></li>
</ul>

<p>This is the ABOUT page where stuff about this page is given</p>
  
</body>
</html>